<script>
import CustomRolesEmptyState from './custom_roles_empty_state.vue';

export default {
  name: 'CustomRolesApp',
  components: {
    CustomRolesEmptyState,
  },
};
</script>

<template>
  <custom-roles-empty-state />
</template>
